/* Estilos Gerais */
.login-container {
  min-height: 100vh;
  background-color: #000B1A;
  font-family: 'Arial', sans-serif;
}

/* Cabeçalho */
.login-header {
  background-color: #000B1A;
  color: white;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-logo {
  font-size: 1.8rem;
  color: #17BD9C;
  margin: 0;
}

.login-nav {
  display: flex;
  gap: 2rem;
}

.login-nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.login-nav-link:hover {
  color: #17BD9C;
}

/* Card de Login */
.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.login-card {
  background-color: #081424;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  width: 100%;
  max-width: 450px;
}

.login-title {
  color: #000B1A;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

/* Formulário */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  color: #f2f2f2;
  font-weight: 500;
}

.form-input {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-input:focus {
  outline: none;
  border-color: #17BD9C;
}

.form-input::placeholder {
  color: #aaa;
}

/*h1 Login*/
.login-title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Botão */
.login-button {
  background: linear-gradient(to right, #345494, #17BD9C);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(52, 84, 148, 0.3);
}

.register-link {
  text-align: center;
  color: #c0c0c0; /* Cor do texto principal */
  margin-top: 1rem;
}

.register-link a {
  color: #d7d7d7; /* Cor do link */
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.register-link a:hover {
  color: #17BD9C; /* Cor quando passar o mouse */
}


/* Responsividade */
@media (max-width: 768px) {
  .login-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  
  .login-nav {
    gap: 1.5rem;
  }
  
  .login-card {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 1.5rem;
  }
  
  .login-title {
    font-size: 1.5rem;
  }
}